.autoCompleteWrapper{
  margin: 40px;
}

.autoCompleteWrapper > input{
  width: 300px;
  padding: 5px;
}

.autoCompleteWrapper ul{
  list-style: none;
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  margin: 0;
}

.autoCompleteWrapper li{
  cursor: pointer;
  padding: 5px;
}
.autoCompleteWrapper li:hover{
  background-color: #ddd;
}